<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Atrois Studio - Connexion</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="/libraries/libraries.min.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body class="body-admin">
    <div id="admin-menu">
      <a class="logo" href="/"><b>Atrois Studio</b></a>
      <a href="/projects">Projets</a>
      <a href="/publications">Publications</a>

      <a class="adding" href="/projects/add">Ajouter un projet</a><a class="adding" href="/publications/add">Ajouter une publication</a>
    </div>
    <div id="main-bo">
      <div class="container">
<% for(var i=0; i<data.length; i++) { %>
	<form action="/publications/edit/<%= data[i].id %>" method="POST">
		<label for="season">Saison</label>
		<input type="text" name="season" id="season" value="<%= data[i].season %>">

		<label for="season_en">Saison EN</label>
		<input type="text" name="season_en" id="season_en" value="<%= data[i].season_en %>">

		<label for="season_jp">Saison JP</label>
		<input type="text" name="season_jp" id="season_jp" value="<%= data[i].season_jp %>">

		<label for="season_kor">Saison</label>
		<input type="text" name="season_kor" id="season_kor" value="<%= data[i].season_kor %>">


		<label for="title">Titre</label>
		<input type="text" name="title" id="title" value="<%= data[i].title %>">

		<label for="title_en">Titre EN</label>
		<input type="text" name="title_en" id="title_en" value="<%= data[i].title_en %>">

		<label for="title_jp">Titre JP</label>
		<input type="text" name="title_jp" id="title_jp" value="<%= data[i].title_jp %>">

		<label for="title_kor">Titre KOR</label>
		<input type="text" name="title_kor" id="title_kor" value="<%= data[i].title_kor %>">


		<label for="client">Client</label>
		<input type="text" name="client" id="client" value="<%= data[i].client %>">

		<label for="client_en">Client EN</label>
		<input type="text" name="client_en" id="client_en" value="<%= data[i].client_en %>">

		<label for="client_jp">Client JP</label>
		<input type="text" name="client_jp" id="client_jp" value="<%= data[i].client_jp %>">

		<label for="client_kor">Client KOR</label>
		<input type="text" name="client_kor" id="client_kor" value="<%= data[i].client_kor %>">


		<label for="url">Lien</label>
		<input type="text" name="url" id="url" value="<%= data[i].url %>">

		<label for="award">Award</label>
		<input type="checkbox" name="award" id="award" <% if (data[i].award == true) { -%>checked<% } -%>>

		<label for="place">Ordre</label>
		<input type="text" name="place" id="place" value="<%= data[i].place %>">

		<input type="submit" value="Éditer cette publication">
	</form>
<% } %>
</div>
</div>

	<script type="text/javascript" src="/libraries/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/libraries/scrolloverflow.min.js"></script>
	<script type="text/javascript" src="/libraries/jquery.fullPage.min.js"></script>
	<script src="/libraries/pnotify.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>
