<!DOCTYPE html>
<html lang="jp">
  <head>
    <title><%= title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" type="text/css" href="/libraries/jquery.fullPage.css" />
    <link rel="stylesheet" href="/libraries/pnotify.custom.min.css">
    <link rel="stylesheet" type="text/css" href="/libraries/slick.css"/>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61041529-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div id="loader">
      <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.35 45.86"><title>logo</title><path d="M35.08,34.47a1.77,1.77,0,0,1-1.24-.5,2.28,2.28,0,0,1-.5-1.66V27a3.4,3.4,0,0,0-.83-2.74,3.69,3.69,0,0,0-2.8-.83H28.05c-1,0-1.36-.08-1.63-.36s-.39-.8-.39-1.8V16.09a2.7,2.7,0,0,0-1.75-2.77A2.69,2.69,0,0,0,26,10.55V5.34c0-1,.08-1.5.39-1.8s.66-.36,1.63-.36h.64V1.41h-1a3.69,3.69,0,0,0-2.8.83A3.4,3.4,0,0,0,24,5v5.29a2.28,2.28,0,0,1-.5,1.66,1.77,1.77,0,0,1-1.24.5H20.55a3.69,3.69,0,0,0-2.8.83A3.4,3.4,0,0,0,16.92,16v5.29a2.28,2.28,0,0,1-.5,1.66,1.77,1.77,0,0,1-1.24.5h-.72v1.77h.72a1.78,1.78,0,0,1,1.24.5,2.28,2.28,0,0,1,.5,1.66v5.29a3.39,3.39,0,0,0,.83,2.74,3.68,3.68,0,0,0,2.8.83h1V34.47h-.64c-1,0-1.36-.08-1.63-.36s-.39-.8-.39-1.8V27.11a2.7,2.7,0,0,0-1.75-2.77,2.69,2.69,0,0,0,1.75-2.77V16.36c0-1,.08-1.5.39-1.8s.66-.36,1.63-.36h1.36a1.78,1.78,0,0,1,1.24.5,2.28,2.28,0,0,1,.5,1.66v5.29a3.39,3.39,0,0,0,.83,2.74,3.68,3.68,0,0,0,2.8.83h1.66c1,0,1.36.08,1.63.36s.39.8.39,1.8v5.21a2.69,2.69,0,0,0,1.75,2.77,2.7,2.7,0,0,0-1.75,2.77v5.21c0,1-.08,1.5-.39,1.8s-.66.36-1.63.36h-.64v1.77h1a3.68,3.68,0,0,0,2.8-.83,3.39,3.39,0,0,0,.83-2.74V38.41a2.28,2.28,0,0,1,.5-1.66,1.78,1.78,0,0,1,1.24-.5h.72V34.47Z" transform="translate(-14.45 -1.41)"/></svg>
      </div>
    </div>

    <div id=main>
      <div id="header-desktop" class="toggler">
        <div class="container">
          <div class="left">
            <h1><a href="#accueil">Atrois Studio</a></h1>
          </div><div class="middle">
            <nav id="menu-desktop">
              <ul>
                <li data-menuanchor="à-propos">
                  <a href="#à-propos">について</a>
                  <div class="highliner"></div>
                </li>

                <li data-menuanchor="contact">
                  <a href="#contact">接触</a>
                  <div class="highliner"></div>
                </li>

                <li data-menuanchor="presse">
                  <a href="#presse">プレス</a>
                  <div class="highliner"></div>
                </li>

                <li data-menuanchor="store">
                  <a href="#store">ショップ</a>
                  <div class="highliner"></div>
                </li>
              </ul>
            </nav>
            </div><div class="right">
            <ul>
              <li><a class="languages" href="/">Français</a></li>
              <%# <li><a class="languages" href="/kor">대한민국</a></li>%>
              <li><a class="languages" href="/en">English</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="header-mobile">
        <div class="container">
          <div class="menu-icon">
            <span class="hamb-menu"></span>
          </div>
          <div class="logo">
            <a href="#accueil">Atrois Studio</a>
          </div>
          <div class="mobile-close-button"></div>
        </div>
      </div>

      <div id="menu-container-mobile">
        <div class="container">
          <div class="languages">
            <ul>
              <li><a class="languages" href="/">Français</a></li>
              <%# <li><a class="languages" href="/kor">대한민국</a></li>%>
              <li><a class="languages" href="/en">English</a></li>
            </ul>
          </div>

          <nav id="menu-mobile">
            <ul>
              <li data-menuanchor="à-propos">
                <a href="#à-propos">について</a>
                <div class="highliner"></div>
              </li>

              <li data-menuanchor="contact">
                <a href="#contact">接触</a>
                <div class="highliner"></div>
              </li>

              <li data-menuanchor="presse">
                <a href="#presse">プレス</a>
                <div class="highliner"></div>
              </li>

              <li data-menuanchor="store">
                <a href="#store">ショップ</a>
                <div class="highliner"></div>
              </li>
            </ul>
          </nav>

          <div class="social">
            <ul>
              <li><a target="-_blank" href="https://www.instagram.com/atroistudio/">Instagram</a></li>
              <li><a target="-_blank" href="https://www.facebook.com/atroistudio/">Facebook</a></li>
              <li><a target="-_blank" href="https://www.behance.net/atroistudio">Behance</a></li>
              <li><a target="-_blank" href="https://fr.pinterest.com/atroistudio/">Pinterest</a></li>
            </ul>
          </div>
        </div>

        <div class="copyright">
          <p>© (2015 - 2017)</p>
        </div>
      </div>

      <div id="projects-sliders">
        <div class="close-button">
          <svg id="Livello_1" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 36"><title>cross</title><polyline points="33.9 1 17.4 17.9 34 35" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"/><polyline points="1 35 17.6 18.1 1 1" style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"/></svg>
        </div>
        <div class="mobile-arrow mobile-arrow-left"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></div>
        <div class="mobile-arrow mobile-arrow-right"><svg viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></div>

        <% for(var j=0; j<projects.length; j++) { %>
          <div id="<%= projects[j].id %>" class="unique-slider">
            <div class="slide presentation-slide">
              <div class="left-cover"></div>
              <div class="right-cover"></div>
              <div class="presentation-container">
                <div class="left">
                  <span class="client"><%= projects[j].client_jp %></span>
                  <br>
                  <span class="season"><%= projects[j].season_jp %></span>
                  <br>
                  <p class="categories"><%= projects[j].categories_jp %></p>
                  <div class="url-container">
                    <a class="url" target="_blank" href="http://<%= projects[j].url %>"><%= projects[j].url %></a>
                  </div>
                </div>
                <div class="right">
                  <span class="name"><%= projects[j].name_jp %></span>
                  <br>
                  <div class="overflower-container">
                    <div class="overflower">
                      <p class="description"><%- projects[j].description_jp %></p>
                    </div>
                    <a class="toggle-more">+ このプロジェクトに関する情報</a>
                  </div>
                </div>
              </div>
            </div>
            <% if (is_desktop && projects[j].iframe_active) { %>
              <div class="slide iframe-slide">
                <div class="left-cover"></div>
                <div class="right-cover"></div>
                <div class="website-container">
                  <iframe src="http://<%= projects[j].url %>" width="" height=""></iframe>
                </div>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>

      <div id="fullpage">
        <!-- HOME -->
        <div data-anchor="accueil" id="section-home" class="section">
          <% if (is_desktop) { %>
          <div class="background-slider">
            <% for(var z=0; z<projects.length; z++) { %>
              <% if (projects[z].showcase) { %>
                <% if (projects[z].showcase_cover) { %>
                  <% if (projects[z].showcase_type == "video/mp4") { %>
                    <div class="background-slide" data-name="<%= projects[z].name %>-<%= projects[z].id %>" data-id="<%= projects[z].id %>">
                      <video class="background-video" loop muted data-autoplay>
                  			<source src="/uploads/projects/covers/<%= projects[z].showcase_cover %>" type="video/mp4">
                  		</video>
                    </div>
                  <% } else { %>
                    <div class="background-slide" data-lazy="/uploads/projects/covers/<%= projects[z].showcase_cover %>" style="background-image: url(/uploads/projects/covers/<%= projects[z].showcase_cover %>)" data-name="<%= projects[z].name %>-<%= projects[z].id %>" data-id="<%= projects[z].id %>"></div>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>
          </div>
          <% } %>

          <% if (is_mobile) { %>
          <div style="display: none" class="background-slider-mobile">
            <% for(var z=0; z<projects.length; z++) { %>
              <% if (projects[z].showcase) { %>
                <% if (projects[z].showcase_cover_mobile) { %>
                  <% if (projects[z].showcase_type_mobile == "video/mp4") { %>
                    <div class="background-slide" data-name="<%= projects[z].name %>-<%= projects[z].id %>" data-id="<%= projects[z].id %>">
                      <video class="background-video" loop muted data-autoplay>
                  			<source src="/uploads/projects/covers/<%= projects[z].showcase_cover_mobile %>" type="video/mp4">
                  		</video>
                    </div>
                  <% } else { %>
                    <div class="background-slide" data-lazy="/uploads/projects/covers/<%= projects[z].showcase_cover_mobile %>" style="background-image: url(/uploads/projects/covers/<%= projects[z].showcase_cover_mobile %>)" data-name="<%= projects[z].name %>-<%= projects[z].id %>" data-id="<%= projects[z].id %>"></div>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>
          </div>
          <% } %>

          <div class="arrow-down">
            <a><svg id="Livello_1" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 18.6"><defs><style>.cls-1{fill:none;stroke:#231f20;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title>arrow-down</title><polyline class="cls-1" points="1 1 17.8 17.6 35 1"/></svg></a>
          </div>
        </div>

        <!-- PROJECTS -->
        <div data-anchor="projets" id="section-projects" class="section">
          <div class="container">
            <% if (years) { %>
              <% for(var i=0; i<years.length; i++) { %>
                <div class="year-section">
                  <div class="year <% if(i === 0) { %>year-fixed<% } %>" data-year="<%= years[i].year %>">
                    <span><%= years[i].year %></span>
                  </div>
                  <ul class="projects-list">
                    <% for(var j=0; j<projects.length; j++) { %>
                      <% if(projects[j].year == years[i].year && projects[j].active == 1) { %>
                        <a class="project-link" data-name="<%= projects[j].name_jp %>-<%= projects[j].id %>" data-id="<%= projects[j].id %>">
                          <!--<div class="project-cover" style="background-image: url(/uploads/projects/covers/<%= projects[j].cover %>);"></div>-->
                          <li>
                            <span class="client"><%= projects[j].client_jp %></span>
                            <br>
                            <span class="title"><%= projects[j].name_jp %></span>
                            <p class="categories"><%= projects[j].categories_jp %></p>
                          </li>
                        </a>
                      <% } %>
                    <% } %>
                  </ul>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>

        <!-- ABOUT -->
        <div data-anchor="à-propos" id="section-about" class="section">
          <div class="container">
            <div class="right">
            </div>
            <div class="left">
              <div class="title">
                <h3>Atrois Studio について</h3>
              </div>
              <p>
                Atrois Studioはミニマリズムと自制で定義されます。
                <br><br>
                このStudioのアートディレクターは高級なコードとディテール感を作り出すことに特化しています。彼は提案しながら確立されたルールを迂回し、またそれぞれのプロジェクトに個人的なアプローチをしています。
                <br><br>
                Atrois Studioは洗練された美しさに特化したスタイルによって区別されています。彼の完璧の追求は 非の打ち所がない気難しさを維持させています。
                <br><br>
                Atrois Studioのイメージは、専門性と洗練がベースになっている、時代を超越した作品を中心に構築されています。                <br><br>
                Atrois Studioは、スキルと高級感のコードを使いこなしています。その専門知識は、アート、デザイン、ファッションの分野で並外れたプロジェクトを開発することを可能にします。
              </p>
            </div>
          </div>
        </div>

        <!-- ABOUT -->
        <div data-anchor="contact" id="section-contact" class="section">
          <div class="container">
            <div class="columns">
              <div class="helper"></div>
              <div class="left">
                <p>
                  <span class="title">接触</span>
                  <br>
                  <span class="regular"><a href="mailto:contact@atroistudio.com<">contact@atroistudio.com</a></span>
                </p>
                <br>
                <br>
                <br>
                <p>
                  <span class="title">プレス部門と広報</span>
                  <br>
                  <span class="regular"><a href="mailto:press@atroistudio.com">press@atroistudio.com</a></span>
                </p>

                <p>
                  <span class="title">プロジェクトのマネージメント</span>
                  <br>
                  <span class="regular"><a href="mailto:project@atroistudio.com">project@atroistudio.com</a></span>
                </p>
                <br>
                <br>
                <p>
                  <span class="title">インターン希望の方</span>
                  <br>
                  <span class="regular"><a href="mailto:intern@atroistudio.com">intern@atroistudio.com</a></span>
                </p>

                <p class="lighter">
                  出来るだけご要望にお応えできるようにさ<br>
                  せて頂きますが、全てのインターンのご希<br>
                  望に沿うことは出来ません。
                </p>
              </div>
              <div class="right">
                <p>
                  <span class="title">Catégorie Agent - Nom Agent</span>
                  <br>
                  <span class="italic">Nom du contact</span>
                  <br>
                  <span class="regular"><a href="mailto:contact@nomagent.com">contact@nomagent.com</a></span>
                </p>
                <p class="lighter">
                  +33 (0) 1 23 45 67 89
                  <br>
                  1, rue nom de la rue long ou avenue
                  <br>
                  12345 Ville, Pays
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- PRESS -->
        <div data-anchor="presse" id="section-press" class="section">
          <div class="container">
            <div class="columns">
              <div class="helper"></div>
              <div class="left normal-scroll">
                <div class="header">
                  <h3>掲載</h3>
                </div>

                <div class="gradient-press"></div>

                <ul>
                  <% if (publications) { -%>
                    <% for(i = 0; i < publications.length; i++) { %>
                      <% if (!publications[i].award) { -%>
                        <li>
                          <a target="_blank" href="<%= publications[i].url %>">
                            <p>
                              <span class="season"><%= publications[i].season_jp %></span>
                              <span class="title"><%= publications[i].title_jp %></span>
                              <span class="client"><%= publications[i].client_jp %></span>
                            </p>
                          </a>
                        </li>
                      <% } -%>
                    <% } %>
                  <% } %>
                  <li class="height-helper"></li>
                </ul>
              </div>
              <div class="right normal-scroll">
                <div class="header">
                  <h3>価格</h3>
                </div>

                <div class="gradient-press"></div>

                <ul>
                  <% if (publications) { -%>
                    <% for(i = 0; i < publications.length; i++) { %>
                      <% if (publications[i].award) { -%>
                        <li>
                          <a target="_blank" href="<%= publications[i].url %>">
                            <p>
                              <span class="season"><%= publications[i].season_jp %></span>
                              <span class="title"><%= publications[i].title_jp %></span>
                              <span class="client"><%= publications[i].client_jp %></span>
                            </p>
                          </a>
                        </li>
                      <% } -%>
                    <% } %>
                  <% } %>
                  <li class="height-helper"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- STORE -->
        <div data-anchor="store" id="section-store" class="section">
          <div class="container">
            <h3>En construction</h3>
          </div>
        </div>
      </div>

      <!-- ADDITIONNALS -->
      <div id="additional" class="toggler">
        <div class="gradient-reverse"></div>
        <div class="logo">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.35 45.86"><title>logo</title><path d="M35.08,34.47a1.77,1.77,0,0,1-1.24-.5,2.28,2.28,0,0,1-.5-1.66V27a3.4,3.4,0,0,0-.83-2.74,3.69,3.69,0,0,0-2.8-.83H28.05c-1,0-1.36-.08-1.63-.36s-.39-.8-.39-1.8V16.09a2.7,2.7,0,0,0-1.75-2.77A2.69,2.69,0,0,0,26,10.55V5.34c0-1,.08-1.5.39-1.8s.66-.36,1.63-.36h.64V1.41h-1a3.69,3.69,0,0,0-2.8.83A3.4,3.4,0,0,0,24,5v5.29a2.28,2.28,0,0,1-.5,1.66,1.77,1.77,0,0,1-1.24.5H20.55a3.69,3.69,0,0,0-2.8.83A3.4,3.4,0,0,0,16.92,16v5.29a2.28,2.28,0,0,1-.5,1.66,1.77,1.77,0,0,1-1.24.5h-.72v1.77h.72a1.78,1.78,0,0,1,1.24.5,2.28,2.28,0,0,1,.5,1.66v5.29a3.39,3.39,0,0,0,.83,2.74,3.68,3.68,0,0,0,2.8.83h1V34.47h-.64c-1,0-1.36-.08-1.63-.36s-.39-.8-.39-1.8V27.11a2.7,2.7,0,0,0-1.75-2.77,2.69,2.69,0,0,0,1.75-2.77V16.36c0-1,.08-1.5.39-1.8s.66-.36,1.63-.36h1.36a1.78,1.78,0,0,1,1.24.5,2.28,2.28,0,0,1,.5,1.66v5.29a3.39,3.39,0,0,0,.83,2.74,3.68,3.68,0,0,0,2.8.83h1.66c1,0,1.36.08,1.63.36s.39.8.39,1.8v5.21a2.69,2.69,0,0,0,1.75,2.77,2.7,2.7,0,0,0-1.75,2.77v5.21c0,1-.08,1.5-.39,1.8s-.66.36-1.63.36h-.64v1.77h1a3.68,3.68,0,0,0,2.8-.83,3.39,3.39,0,0,0,.83-2.74V38.41a2.28,2.28,0,0,1,.5-1.66,1.78,1.78,0,0,1,1.24-.5h.72V34.47Z" transform="translate(-14.45 -1.41)"/></svg>
        </div>

        <div class="copyright">
          <p>© (2015 - 2017)</p>
        </div>

        <div class="social">
          <ul>
            <li><a target="-_blank" href="https://www.instagram.com/atroistudio/">Instagram</a></li>
            <li><a target="-_blank" href="https://www.facebook.com/atroistudio/">Facebook</a></li>
            <li><a target="-_blank" href="https://www.behance.net/atroistudio">Behance</a></li>
            <li><a target="-_blank" href="https://fr.pinterest.com/atroistudio/">Pinterest</a></li>
          </ul>
        </div>
      </div>

      <div id="additional-mobile">
        <div class="gradient-reverse"></div>
      </div>

      <% if (is_desktop) { %>
        <div class="covers-container">
          <% for(var i=0; i<projects.length; i++) { %>
            <% if (projects[i].cover) { -%>
              <div class="cover" data-name="<%= projects[i].name %>-<%= projects[i].id %>">
                <img src="/uploads/projects/covers/<%= projects[i].cover %>" alt="<%= projects[i].name_jp %>">
              </div>
            <% } %>
          <% } %>
        </div>
      <% } %>
    </div>

    <script type="text/javascript" src="/libraries/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/libraries/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/libraries/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="/libraries/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="/libraries/slick.min.js"></script>
    <script type="text/javascript" src="/libraries/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="/libraries/pnotify.custom.min.js"></script>
    <script type="text/javascript" src="/libraries/imagesloaded.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <script type="text/javascript">
      $(window).on('load', function() {
        var isMobile = false;

        if (window.innerWidth < 768) {
          isMobile = true;
        }

        setTimeout(function() {
          $('#loader').fadeOut();
          $('#main').animate({opacity: 1}, 1000, function() {
            if (isMobile) {
             $('#section-home .background-slider-mobile').slick('slickPlay');
            } else {
              $('#section-home .background-slider').slick('slickPlay');
            }

            if (sessionStorage.getItem('project')) {
              $('.project-link[data-id="'+sessionStorage.getItem('project')+'"]').click();
              sessionStorage.removeItem('project');
            }
          });
        }, 2000);
      });
    </script>

  </body>
</html>
