<% for(var i=0; i<data.length; i++) { %>
	<form action="/projects/edit/<%= data[i].id %>" method="POST" enctype="multipart/form-data">
		<label for="year">Année</label>
		<input type="text" name="year" id="year" value="<%= data[i].year %>">

		<label for="client">Client</label>
		<input type="text" name="client" id="client" value="<%= data[i].client %>">

		<label for="name">Nom</label>
		<input type="text" name="name" id="name" value="<%= data[i].name %>">

		<label for="categories">Catégories</label>
		<input type="text" name="categories" id="categories" value="<%= data[i].categories %>">

		<label for="season">Saison</label>
		<input type="text" name="season" id="season" value="<%= data[i].season %>">

		<label for="url">Lien</label>
		<input type="text" name="url" id="url" value="<%= data[i].url %>">

		<label for="description">Description</label>
		<textarea type="text" name="description" id="description" rows="8" cols="80"><%= data[i].description %></textarea>

		<label for="place">Ordre</label>
		<input type="text" name="place" id="place" value="<%= data[i].place %>">

		<label for="cover">Cover</label>
		<img width="50" src="/uploads/projects/covers/<%= data[i].cover %>">
		<input type="file" name="cover" id="cover">

		<input type="submit" value="Éditer ce projet">
	</form>
<% } %>
